//
   Created by koh on 2016-12-16.

html
    head
        title Index Page
        style.
            *{ margin: 0; padding: 0; }
            h1 { color: red; }
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script.
            $(function () {
                var alpha =10;
            });
    body
        h1 Hello Jade
        h2 Lorem ipsum
        hr
        a(href='http://hanbit.co.kr',data-test = 'multiple Attribute') Go To Hanbit Site