//
   Created by koh on 2016-12-16.

html
    head
        title Index Page
    body
        h1 Hello Jade
        h2 Lorem ipsum
        hr
        a(href='http://hanbit.co.kr',data-test = 'multiple Attribute') Go To Hanbit Site